# Ignore node_modules everywhere
**/node_modules/
node_modules/

# Logs
logs
*.log
npm-debug.log*

# dotenv environment files
.env
.env.local

# OS-specific files
.DS_Store
Thumbs.db

# Build files
/build
/dist

# Ignore coverage reports
coverage/

# Optional: Ignore IDE/editor folders
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
